<% layout("/layouts/template") %>
     <body>
        <h3>All listings</h3>
            <div class = "row row-cols-lg-4 row row-cols-md-2 row row-cols-sm-1">
                <% for (let listing of allListings){%>
                    <a href="/listings/<%= listing._id %>">
                        <div class="card col" style="width: 18rem;">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
                            <div class="card-img-overlay">
                             </div>  
                            <div class="card-body">
                            <p class="card-text-center"><br>
                            <b><%= listing.title %></b><br>
                            $<%= listing.price %>
                            </p>
                         
                        </div>
                    </div>
                </a> <% } %>
            </div>
        

        <form method="GET" action="/listings/new"><button>Create new listing</button></form>

     </body>   
        